
.form-design{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 8%;

}
input.ng-invalid.ng-touched{
    border-color: tomato;
}
input.ng-valid.ng-touched{
    border-color: teal;
}


/* button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

button[type=submit]:hover {
    background-color: #45a049;
    padding-left: 20%;
    padding-right: 20%;
} */

.Disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    
}
#pickImage{
    visibility: hidden;
}

